<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" >
    <listeners>
        <listener class-name="BasePkg.listeners"></listener>
    </listeners>
    <test verbose="2"
          name="C:/Users/vacz2/OneDrive/Desktop/Selenium_Frameworks/EKart_Udemy_POM/src/test/java/Test/submitOrder.java">
        <classes>
            <class name="Test.submitOrder">
            </class>
        </classes>
    </test>
    <test verbose="2"
          name="C:/Users/vacz2/OneDrive/Desktop/Selenium_Frameworks/EKart_Udemy_POM/src/test/java/Test/errorValidations.java">
        <classes>
            <class name="Test.errorValidations">
            </class>
        </classes>
    </test>
</suite>