<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test thread-count="5" name="NEGATIVE">
        <classes>
            <class name="Test.errorValidations">
                <methods>
                    <include name="TC01"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="POSITIVE" thread-count="5">
        <classes>
            <class name="Test.submitOrder">
                <methods>
                    <include name="TC01"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>

